

img{
    width: 100%;
    height: inherit;
}
ul li a {
    font-size: 25px;
}

.boarderList table td {
    border: none !important;
    vertical-align:inherit !important;
}
.Cost_Detials{
    padding: 5px !important;

}
.container{
    overflow: auto;
}
.messManager{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background: white;
}
.boarder_logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto
}
.messManager .logo{
    width: 99px;
    height: 99px;
    border-radius: 50%;
    overflow: hidden;
}
.modal-content{
    background: #ffffffcf;
}
#All_border button, #All_border select, .modal-header .btn{
    position: absolute;
    z-index: 999999;
    top: 10px;
}
#All_border button, .modal-header .btn{
    right: 5px;
}