

img{
    width: 100%;
    height: inherit;
}
.list-group.list-group-horizontal.hasan{
    
    overflow: hidden !important;
}

.Boarder_List td {
    border: none !important;
    vertical-align:inherit !important;
}
.Boarder_List, .Cost_Detials{
    font-size: 20px !important;
}
.container{
    overflow: auto;
}
.messManager{
    width: 105px;
    height: 105px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto;
    background: white;
}
.boarder_logo{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    margin: auto
}
.messManager .logo{
    width: 99px;
    height: 99px;
    border-radius: 50%;
    overflow: hidden;
}
#All_border button, #All_border select{
    position: absolute;
    z-index: 999999;
    top: 10px;
}
#All_border button{
    right: 0px;
}